
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title></title>
    
      <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/carousel.css" rel="stylesheet">
    <script>
    </script>
  </head>
<div class="span12">
<div class="navbar navbar-inverse navbar-fixed-top left">
  <div class="navbar-inner">
    <div class="container">
    <ul class="nav">
  <li class="active">
    <a class="brand" href="#"><font size="6"><b>Computer Networks</b></font></a>
  </li>


</ul>
</div>
</div>
</div>
</div><br />


<!-- START BUTTON DESC. -->


<ul class="nav">
	<br/>


	
		<li >
			<a data-target="myModal1" data-toggle="modal"><h2><b><div align="center"><br />Questions for Lab 1</div></b></a></h2>
		</li>
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel1"><div align="center">another.db</div></h4>
	      </div>
	      <div class="modal-body">
	      </div>
	     <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
		  <br />
		  
	    </div>
	  </div>
	</div>
	

	
		<li >
			<a data-target="myModal2" data-toggle="modal"><h2><b><div align="center"><br />Questions for Lab 2</div></b></a></h2>
		</li>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel2"><div align="center">BE_6th_Semester_Test-1_Portion.pdf</div></h4>
	      </div>
	      <div class="modal-body">
	      </div>
	     <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
		  <br />
		  
	    </div>
	  </div>
	</div>
	

	
		<li >
			<a data-target="myModal3" data-toggle="modal"><h2><b><div align="center"><br />Questions for Lab 3</div></b></a></h2>
		</li>
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel3"><div align="center">cloud_lab.py</div></h4>
	      </div>
	      <div class="modal-body">
	      </div>
	     <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
		  <br />
		  
	    </div>
	  </div>
	</div>
	

	
		<li >
			<a data-target="myModal4" data-toggle="modal"><h2><b><div align="center"><br />Questions for Lab 4</div></b></a></h2>
		</li>
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel4"><div align="center">schema.sql</div></h4>
	      </div>
	      <div class="modal-body">
	      </div>
	     <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
		  <br />
		  
	    </div>
	  </div>
	</div>
	


<!--
<li ><a data-target="#myModal2" data-toggle="modal"><h2><b><div align="center"><br />Questions for Lab 2</div></b></a></li></h2>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><div align="center">Questions for Lab 2</div></h4>
 
      </div>
      <div class="modal-body">
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
	  <br />
	  
    </div>
  </div>
</div>
<li ><a data-target="#myModal3" data-toggle="modal"><h2><b><div align="center"><br/>Questions for Lab 3</div></b></a></li></h2>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><div align="center">Questions for Lab 3</div></h4>
 
      </div>
      <div class="modal-body">
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
	  <br />
	  
    </div>
  </div>
</div>-->
<div class="modal-footer">
        <button type="button" class="btn btn-primary">Terminal</button>
        <button type="button" class="btn btn-default"><a href= "StudentHome.html" id="Back">Back</a></button>
      </div> 
    </div><!-- /.container -->


<script>
</script>

    
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
   
  </body>
</html>





<!-- 
<html>
	<head>
		
		<title>CloudLab</title>
		
	</head>
	<body>
		<div>CloudLab: <a href="/index">Home</a></div>
		<hr>
    
    
  -->
    
    
	<h1>Welcome not to 11CS351</h1>
	<br><br>
	<ul>
		
			 <li>another.db</a></li>
		
			 <li>BE_6th_Semester_Test-1_Portion.pdf</a></li>
		
			 <li>cloud_lab.py</a></li>
		
			 <li>schema.sql</a></li>
		
	</ul>
 
	</body>
</html>